<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favourites</ion-title>
    <ion-buttons slot="end">

  <!-- Home icon -->
  <ion-button [routerLink]="['/home']">
    <ion-icon name="home" class="grey-icon"></ion-icon>
  </ion-button>


</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2 *ngIf="movies.length == 0">No favourites yet</h2>

  <ion-list>

  <ion-item *ngFor="let movie of movies">

    <!-- IMAGE -->
    <img
      *ngIf="movie.poster_path"
      [src]="getImage(movie.poster_path)"
    >

    <!-- CONTENT -->
    <ion-label>
        {{ movie.title }}
    </ion-label>

    

      <p *ngIf="!movie.poster_path">No image</p>

      <ion-button size="small"  (click)="openDetails(movie.id)">
        Details
      </ion-button>

    

  </ion-item>

</ion-list>

</ion-content>
