<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favourites</ion-title>
    <ion-buttons slot="end">

      <!-- Navigation button -->
      <ion-button [routerLink]="['/home']">
        <ion-icon name="home" class="grey-icon"></ion-icon>
      </ion-button>


    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Show message if no favourite movies exist -->
  <h2 *ngIf="movies.length == 0">No favourites yet</h2>

  <!-- Loop through all favourite movies -->
  <ion-card *ngFor="let movie of movies">

    <!-- POSTER -->
    <img *ngIf="movie.poster_path" [src]="getImage(movie.poster_path)"
      style="width: 200px; height: auto; object-fit: cover;">

    <!-- TITLE -->
    <ion-card-header>
      <ion-card-title>
        {{ movie.title }}
      </ion-card-title>
    </ion-card-header>

    <!-- BUTTON -->
    <ion-card-content>

      <!-- Navigate to movie details page -->
      <ion-button size="small" (click)="openDetails(movie.id)">
        Details
      </ion-button>

      <!-- Show text if no image -->
      <p *ngIf="!movie.poster_path">No image</p>

    </ion-card-content>

  </ion-card>

</ion-content>