<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favourites</ion-title>
    <ion-buttons slot="end">

  <!-- Home icon -->
  <ion-button [routerLink]="['/home']">
    <ion-icon name="home" class="grey-icon"></ion-icon>
  </ion-button>


</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2 *ngIf="movies.length == 0">No favourites yet</h2>

  <ion-card *ngFor="let movie of movies">

    <!-- POSTER -->
    <img
      *ngIf="movie.poster_path"
      [src]="getImage(movie.poster_path)"
      style="width: 200px; height: auto; object-fit: cover;"
    >

    <!-- TITLE -->
    <ion-card-header>
      <ion-card-title>
        {{ movie.title }}
      </ion-card-title>
    </ion-card-header>

    <!-- BUTTON -->
    <ion-card-content>

      <ion-button size="small" (click)="openDetails(movie.id)">
        Details
      </ion-button>

      <p *ngIf="!movie.poster_path">No image</p>

    </ion-card-content>

  </ion-card>

</ion-content>
