<ion-header [translucent]="true">
  <ion-toolbar>
    
    <!-- Left side title -->
    <ion-title slot="start">
      G00485960
    </ion-title>

    <!-- Right side icon -->
    <ion-buttons slot="end">
      <!-- Heart icon -->
  <ion-button [routerLink]="['/favourites']">
    <ion-icon name="heart" class="grey-icon"></ion-icon>
  </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
 
  <!-- Input field for movie search -->
  <ion-item>
   
    <ion-input label="Search" [(ngModel)]="searchQuery" placeholder="Movie name"></ion-input>
  </ion-item>
  <!-- Search button -->
  <ion-button expand="block" (click)="searchMovies()">SEARCH
  </ion-button>

  <!-- Title changes depending on state -->
  <h2 *ngIf="!searchQuery">Today's Trending Movies</h2>
  <h2 *ngIf="searchQuery">Results for: "{{ searchQuery }}"</h2>

  <!-- Display list of movies -->
  <ion-list>
  <ion-card *ngFor="let movie of movies" [routerLink]="['/movie-details', movie.id]">

    <img *ngIf="movie.poster_path"
         [src]="getImage(movie.poster_path)"
         alt="{{ movie.title }} poster"
         style="width: 200px; height: auto; object-fit: cover; margin: 5px;">

    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ movie.overview }}
    </ion-card-content>

  </ion-card>
</ion-list>






  </ion-card>
</ion-content>
