<ion-header [translucent]="true">
  <ion-toolbar>
    
    <!-- Left side title -->
    <ion-title slot="start">
      G00485960
    </ion-title>

    <!-- Right side icon -->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="heart" class="heart-icon"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <p>Search</p>
  <ion-button [routerLink]="['/movie-details']">SEARCH</ion-button> -->

  <!-- Input field for movie search -->
  <ion-item>
    <span>Search</span><ion-input [(ngModel)]="searchQuery" placeholder="  Movie name" padding-left:50px;></ion-input>
  </ion-item>
  <!-- Search button -->
  <ion-button expand="block" (click)="searchMovies()">SEARCH
  </ion-button>

  <!-- Title changes depending on state -->
  <h2 *ngIf="!searchQuery">Today's Trending Movies</h2>
  <h2 *ngIf="searchQuery">Results for: "{{ searchQuery }}"</h2>

  <!-- Display list of movies -->
  <div *ngFor="let movie of movies"  [routerLink]="['/movie-details', movie.id]">

    <!-- Movie poster -->
    <img 
      [src]="getImage(movie.poster_path)" 
      *ngIf="movie.poster_path"
    >
  
    <!-- Movie description -->
    <p>{{ movie.overview }}</p>
  
  </div>






  
</ion-content>
