<ion-header [translucent]="true">
  <ion-toolbar>

    <!-- Left side title -->
    <ion-title slot="start">
      G00485960
    </ion-title>

    <!-- Right side icon -->
    <ion-buttons slot="end">
      <!-- Heart icon navigates to /favourites when clicked -->
      <ion-button [routerLink]="['/favourites']">
        <ion-icon name="heart" class="grey-icon"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!--  Main scrollable content area -->
<ion-content [fullscreen]="true">

  <ion-card>

    <!-- Input field for movie search -->
    <ion-item>
      <!-- [(ngModel)]="searchQuery" enables two-way data binding -->
      <ion-input label="Search" [(ngModel)]="searchQuery" placeholder="Movie name"></ion-input>
    </ion-item>
    <!-- Search button -->
    <ion-button expand="block" (click)="searchMovies()">SEARCH
    </ion-button>

    <!-- Title changes depending on state -->
    <h2 *ngIf="!searchQuery">Today's Trending Movies</h2>
    <h2 *ngIf="searchQuery">Results for: "{{ searchQuery }}"</h2>

    <!-- Display list of movies -->
    <ion-list>
      <!-- Loops through movies array. Each movie is displayed as a card -->
      <ion-card *ngFor="let movie of movies" [routerLink]="['/movie-details', movie.id]">

        <!-- Only shows image if poster_path exists  -->
          <!-- [src]="getImage(movie.poster_path) Calls a function to build the full image URL  -->
        <img *ngIf="movie.poster_path" [src]="getImage(movie.poster_path)" alt="{{ movie.title }} poster"
          style="width: 200px; height: auto; object-fit: cover; margin: 5px;">

          <!-- Displays the movie title  -->
          <ion-card-header>
          <ion-card-title>{{ movie.title }}</ion-card-title>
        </ion-card-header>

        <!-- Displays a short description  -->
        <ion-card-content>
          {{ movie.overview }}
        </ion-card-content>

      </ion-card>
    </ion-list>

  </ion-card>
</ion-content>