<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ person?.name }}</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="home" class="grey-icon"></ion-icon>
      </ion-button>

      <ion-button [routerLink]="['/favourites']">
        <ion-icon name="heart" class="grey-icon"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content *ngIf="person">

  <ion-card>

    <!-- IMAGE -->
    <ion-card-content>
      <img 
        *ngIf="person.profile_path"
        [src]="getImage(person.profile_path)"
        style="width: 200px; height: auto; object-fit: cover; margin: 5px;"
      >

      <p *ngIf="!person.profile_path">No image</p>
    </ion-card-content>


    <!-- NAME -->
    <ion-card-header>
      <ion-card-title>{{ person.name }}</ion-card-title>
    </ion-card-header>


    <!-- INFO -->
    <ion-card-content>

      <p *ngIf="person.birthday">
        DOB: {{ person.birthday }}
      </p>

      <p *ngIf="person.deathday">
        DOD: {{ person.deathday }}
      </p>

      <p *ngIf="person.also_known_as && person.also_known_as.length">
        AKA: {{ person.also_known_as.join(', ') }}
      </p>
    <br>
      <p>{{ person.biography }}</p>

    </ion-card-content>

    <ion-item-divider></ion-item-divider>


    <!-- OTHER MOVIES -->
    

    <ion-card-content>

      <ion-item *ngFor="let movie of movies">

        <ion-label>
          {{ movie.title }}
        </ion-label>

        <img
          slot="end"
          *ngIf="movie.poster_path"
          [src]="getImage(movie.poster_path)"
          style="width: 40px; height: 60px; object-fit: cover; "
        >

        <p slot="end" *ngIf="!movie.poster_path">
          No image
        </p>

      </ion-item>

    </ion-card-content>

  </ion-card>

</ion-content>
